<nav class="navbar navbar-fixed-top navbar-default echo-brand" role="navigation">
  <a class="navbar-brand back" href="#/"><i class="fa fa-angle-left"></i> <span class="sr-only">Calendar</span></a>

  <div class="navbar-header">
    <a href="#/"><img class="brand-logo-image" src="image/echo_marketing-brand-logo.svg"></a>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="user-details"><a ng-href="#/eventApproval" class="user-creds">
        <img src="image/user_face_pic.png" class="profile-image img-circle">
        <span>{{currentUserId || 'UserName'}}</span>

        <div class="badge approval-counter" ng-show="waitApproval>0" data-ng-bind="waitApproval"></div>
      </a>
      </li>
    </ul>
  </div>
</nav>

<div id="page-content" class="add-event">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1>Admin</h1>
        <div class="row">
          <p class="col-sm-9">Admin panel for managing metadata</p>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Customers</div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group" ng-repeat="customer in customers track by $index">
                <div class="col-sm-6">
                  <input type="text" class="form-control" placeholder="Enter name" ng-model="customer.name">
                </div>
                <button class="btn btn-default" ng-disabled="$index==0" ng-click="customers.splice($index,1);customers.splice($index-1,0,customer)" tabindex="-1"><i class="fa fa-arrow-up"></i></button>
                <button class="btn btn-default" ng-disabled="$index==customers.length-1" ng-click="customers.splice($index,1);customers.splice($index+1,0,customer)" tabindex="-1"><i class="fa fa-arrow-down"></i></button>
              </div>
              <div class="form-group">
                <div class="col-sm-6">
                  <button class="btn btn-primary" ng-click="customers.push({})">Add new</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Venues</div>
          <div class="panel-body">
            <form class="form-horizontal" ng-repeat="property in properties track by $index">
              <h3>{{property.name}}</h3>
              <div class="form-group" ng-repeat="venue in property.venues track by $index">
                <div class="col-sm-6">
                  <input type="text" class="form-control" placeholder="Enter name" ng-model="venue.name">
                </div>
                <button class="btn btn-default" ng-disabled="$index==0" ng-click="property.venues.splice($index,1);property.venues.splice($index-1,0,venue)" tabindex="-1"><i class="fa fa-arrow-up"></i></button>
                <button class="btn btn-default" ng-disabled="$index==property.venues.length-1" ng-click="property.venues.splice($index,1);property.venues.splice($index+1,0,venue)" tabindex="-1"><i class="fa fa-arrow-down"></i></button>
              </div>
              <div class="form-group">
                <div class="col-sm-6">
                <button class="btn btn-primary" ng-click="property.venues.push({})">Add new</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- END ROW -->
        <button class="btn btn-danger" ng-click="save()">Save</button>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
