<nav class="navbar navbar-fixed-top navbar-default echo-brand" role="navigation">
  <a class="navbar-brand back" href="#/"><i class="fa fa-angle-left"></i> <span class="sr-only">Calendar</span></a>

  <div class="navbar-header">
    <a href="#/"><img class="brand-logo-image" src="image/echo_marketing-brand-logo.svg"></a>
  </div>
</nav>


<div class="jumbotron">
  <div class="container-fluid text-center">
  <h1>Opps, 404</h1>

  <p>Sorry, the item you are looking no longer exists</p></div>

</div>
